= form_for @contract, :url => add_contract_path, :html => { :class => :form }, :remote => true do |c|
  .block.notice
    %h3= "#{t('assur.general.add')} #{t('assur.folder.brand')} #{t('assur.folder.to_folder')}"
    .content
      .group.top
        = label_tag :category_id, t('assur.folder.categories'), :class => 'label'
        = collection_select :brand, :category_id, Category.all, :id, :name
        :javascript
          Event.observe('brand_category_id', 'change', function() {
            new Ajax.Request('/brands_by_category?category_id=' + $F('brand_category_id'), { 
                asynchronous:true, 
                evalScripts:true, 
                onSuccess:function(request) { buildOptions(request, 'contract_brand_id') }
            });
          });
      .group
        = c.hidden_field :folder_id
        = c.label :brand_id, t('assur.folder.brands'), :class => 'label'
        = c.collection_select(:brand_id, Brand.all, :id, :name, :class => 'text_field', :prompt => t('assur.folder.select_category'))
      .group.navform.wat-cf
        %button.button{:type => "submit"}
          = image_tag("web-app-theme/icons/add.png", :alt => "#{t("assur.general.add")}")
          = t("assur.general.add")
    