.block
  .content
    %h2.title Forgot your password?
    .inner
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form' }) do |f|
        .group
          .columns.wat-cf
            = f.label :email, :class => 'label'
            = f.text_field :email, :class => 'text_field focus'
        .group.wat-cf.navform
          %button.button{:type => "submit"}
            = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.send_me_password", :default => "Send me reset password instructions")}")
            = t("web-app-theme.send_me_password", :default => "Send me reset password instructions")

  - content_for :sidebar, render(:partial => 'sidebar')