.group
  = f.label :firstname, t("activerecord.attributes.customer.firstname", :default => "Firstname"), :class => :label
  = f.text_field :firstname, :class => 'text_field'
.group
  = f.label :lastname, t("activerecord.attributes.customer.lastname", :default => "Lastname"), :class => :label
  = f.text_field :lastname, :class => 'text_field'
= f.fields_for :address do |a|
  .fieldset
    .group
      .columns.wat-cf 
        .verylargecolumn.left
          = a.label :street, t("activerecord.attributes.address.street", :default => 'Street'), :class => :label
          = a.text_field :street, :class => 'text_field'
        .verysmallcolumn.right
          = a.label :number, t("activerecord.attributes.address.number", :default => 'Number'), :class => :label
          = a.text_field :number, :class => 'text_field'
    .group
      .columns.wat-cf 
        .column.left     
          = a.label :box, t("activerecord.attributes.address.box", :default => 'Box'), :class => :label
          = a.text_field :box, :class => 'text_field'
        .column.right
          = a.label :zipcode, t("activerecord.attributes.address.zipcode", :default => 'Zip code'), :class => :label
          = a.text_field :zipcode, :class => 'text_field'        
    .group
      .columns.wat-cf 
        .column.left     
          = a.label :city, t("activerecord.attributes.address.city", :default => 'City'), :class => :label
          = a.text_field :city, :class => 'text_field'
        = a.fields_for :country do |c|
          .column.right
            = c.label :name, t("activerecord.attributes.country.name", :default => 'Country'), :class => :label
            = c.text_field :name, :class => 'text_field'       
.group
  = f.label :birthdate, t("activerecord.attributes.customer.birthdate", :default => "Birthdate"), :class => :label
  = f.date_select :birthdate, :class => 'date_select'
  %span.description Ex: a simple text
.group
  = f.label :email, t("activerecord.attributes.customer.email", :default => "Email"), :class => :label
  = f.text_field :email, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :contact_id, t("activerecord.attributes.customer.contact_id", :default => "Contact"), :class => :label
  = f.text_field :contact_id, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :comment, t("activerecord.attributes.customer.comment", :default => "Comment"), :class => :label
  = f.text_area :comment, :class => 'text_area'
  %span.description Ex: a simple text
.group
  = f.label :idnum, t("activerecord.attributes.customer.idnum", :default => "Idnum"), :class => :label
  = f.text_field :idnum, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :sex_id, t("activerecord.attributes.customer.sex_id", :default => "Sex"), :class => :label
  = f.text_field :sex_id, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :nationality_id, t("activerecord.attributes.customer.nationality_id", :default => "Nationality"), :class => :label
  = f.text_field :nationality_id, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :cibilstatus_id, t("activerecord.attributes.customer.cibilstatus_id", :default => "Cibilstatus"), :class => :label
  = f.text_field :cibilstatus_id, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :language_id, t("activerecord.attributes.customer.language_id", :default => "Language"), :class => :label
  = f.text_field :language_id, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :jobdescription, t("activerecord.attributes.customer.jobdescription", :default => "Jobdescription"), :class => :label
  = f.text_field :jobdescription, :class => 'text_field'
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), customers_path, :class => "button"
