.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "Liste")}", customers_path
      %li= link_to "#{t("web-app-theme.new", :default => "Nouveau")}", new_customer_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "Listing")
      clients
    .inner
      %table.table
        %tr
          %th Nom Prenom
          %th Ville
            
          %th Reference
          %th.last &nbsp;
        - @customers.each do |customer|
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to "#{customer.firstname} #{customer.lastname}", edit_customer_path(customer)
            %td
              = customer.address.city
            %td
              = customer.reference
              dj10234
            %td.last
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", customer_path(customer), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
