.block
  .content
    %h2.title= t("assur.customer.sign_in")
    .inner
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form login'}) do |f|
        .group
          .columns.wat-cf
            = f.label :email, t("assur.customer.email"), :class => 'label'
            = f.text_field :email, :class => 'text_field focus'
        .group
          .columns.wat-cf
            = f.label :password, t("assur.customer.password"), :class => 'label'
            = f.password_field :password, :class => 'text_field'
        
        - if devise_mapping.rememberable?
          .group
            .columns.wat-cf
              = f.check_box :remember_me
              = f.label :remember_me, t("devise.sessions.remember_me")
        .group.wat-cf.navform
          %button.button{:type => "submit"}
            = image_tag("web-app-theme/icons/key.png", :alt => "#{t("web-app-theme.login", :default => "Login")}")
            = t("web-app-theme.login", :default => "Login")
  - content_for :sidebar, render(:partial => 'sidebar')